# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Viktor Plane
	email = viktor.plane@simployer.com
[core]
	editor = code
	commentchar = "%"
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

